# DB host path
DB_HOST=localhost
# DB host port
DB_PORT=3306
# DB user name
DB_USER=user_name
# DB user password
DB_PASSWORD=user_password
# scheme name
DB_NAME=scheme_name

JWT_SECRET=secret_key_sample
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=your_refresh_secret_sample
JWT_REFRESH_EXPIRES_IN=7d

# 업로드 파일 저장 위치
FILE_LOCATION=your_own_location
UPLOAD_LOCATION=uploads
THUMBNAIL_LOCATION=thumbnails
STREAM_LOCATION=stream


PORT=8000
